.discover{
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    .body{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
    }
    
}